@import "bootstrap/scss/bootstrap.scss";
$colo-primary: #008037;
.bg-theme {
    background-color: #008037;
    color: $white;
}

.top-navbar {
    .navbar-brand {
        img {
            height: 2.5rem;
            width: auto;
        }
    }
}

.banner {
    padding: 4.5rem;
    position: relative;
    .text {
        z-index: 100;
    }
}